body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u71 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:178px;
}
#u72 {
  position:absolute;
  left:651px;
  top:625px;
  width:445px;
  height:178px;
  color:#1E1E1E;
}
#u73 {
  position:absolute;
  left:2px;
  top:81px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u74 {
  position:absolute;
  left:719px;
  top:694px;
  width:337px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:295px;
}
#u76 {
  position:absolute;
  left:506px;
  top:785px;
  width:297px;
  height:295px;
  color:#1E1E1E;
}
#u77 {
  position:absolute;
  left:2px;
  top:140px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u79 {
  position:absolute;
  left:910px;
  top:980px;
  width:100px;
  height:100px;
  color:#1E1E1E;
}
#u80 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u81 {
  position:absolute;
  left:810px;
  top:980px;
  width:100px;
  height:100px;
}
#u82 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u83 {
  position:absolute;
  left:1010px;
  top:980px;
  width:100px;
  height:100px;
}
#u84 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1245px;
  top:874px;
  width:675px;
  height:206px;
  overflow:hidden;
}
#u85_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u85_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:206px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:206px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:2px;
  top:95px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u90 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  color:#FFFFFF;
}
#u90_img.mouseOver {
}
#u90.mouseOver {
  opacity:0.6;
}
#u91 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u92 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u95 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u95_img.mouseOver {
}
#u95.mouseOver {
  opacity:0.6;
}
#u96 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u97 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u100 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u100_img.mouseOver {
}
#u100.mouseOver {
  opacity:0.6;
}
#u101 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u102 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u104 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
}
#u105 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u106 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
}
#u106_img.mouseOver {
}
#u106.mouseOver {
  opacity:0.6;
}
#u107 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u108 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
}
#u108_img.mouseOver {
}
#u108.mouseOver {
  opacity:0.6;
}
#u109 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u110 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
}
#u110_img.mouseOver {
}
#u110.mouseOver {
  opacity:0.6;
}
#u111 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
}
#u113 {
  position:absolute;
  left:39px;
  top:34px;
  width:1000px;
  height:45px;
}
#u114 {
  position:absolute;
  left:2px;
  top:14px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117 {
  position:absolute;
  left:91px;
  top:39px;
  width:40px;
  height:16px;
  overflow:hidden;
  visibility:hidden;
}
#u117_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u117_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u119 {
  position:absolute;
  left:91px;
  top:39px;
  width:855px;
  height:35px;
}
#u119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u120 {
  position:absolute;
  left:46px;
  top:39px;
  width:35px;
  height:35px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:994px;
  top:37px;
  width:40px;
  height:40px;
  overflow:hidden;
  visibility:hidden;
}
#u122_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u122_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:0px;
  top:-8px;
  width:40px;
  word-wrap:break-word;
}
