body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:988px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:706px;
}
#u11997 {
  position:absolute;
  left:0px;
  top:-5px;
  width:988px;
  height:706px;
}
#u11998 {
  position:absolute;
  left:2px;
  top:345px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11999 {
  position:absolute;
  left:0px;
  top:-5px;
  width:988px;
  height:74px;
}
#u12000 {
  position:absolute;
  left:2px;
  top:29px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001 {
  position:absolute;
  left:0px;
  top:15px;
  width:255px;
  height:36px;
  overflow:hidden;
}
#u12001_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12001_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12002 {
  position:absolute;
  left:0px;
  top:6px;
  width:138px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u12004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12004 {
  position:absolute;
  left:166px;
  top:6px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12001_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:36px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12001_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12006 {
  position:absolute;
  left:0px;
  top:6px;
  width:138px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12008 {
  position:absolute;
  left:166px;
  top:6px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12010 {
  position:absolute;
  left:0px;
  top:633px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u12011 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12012 {
  position:absolute;
  left:0px;
  top:671px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u12013 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12014 {
  position:absolute;
  left:179px;
  top:633px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u12015 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12016 {
  position:absolute;
  left:367px;
  top:633px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u12017 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12018 {
  position:absolute;
  left:367px;
  top:671px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u12019 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12020 {
  position:absolute;
  left:179px;
  top:671px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u12021 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u12022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12022 {
  position:absolute;
  left:458px;
  top:22px;
  width:304px;
  height:28px;
  color:#0000FF;
}
#u12023 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u12024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12024 {
  position:absolute;
  left:291px;
  top:22px;
  width:142px;
  height:28px;
  color:#0000FF;
}
#u12025 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u12026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12026 {
  position:absolute;
  left:784px;
  top:22px;
  width:178px;
  height:28px;
  color:#0000FF;
}
#u12027 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
