body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u7054 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055 {
  position:absolute;
  left:1217px;
  top:874px;
  width:703px;
  height:206px;
  overflow:hidden;
}
#u7055_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7055_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:206px;
}
#u7058 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:206px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7059 {
  position:absolute;
  left:2px;
  top:95px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7061 {
  position:absolute;
  left:212px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7061_img.mouseOver {
}
#u7061.mouseOver {
  opacity:0.6;
}
#u7062 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u7063 {
  position:absolute;
  left:200px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7064 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u7066 {
  position:absolute;
  left:352px;
  top:74px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7066_img.mouseOver {
}
#u7066.mouseOver {
  opacity:0.6;
}
#u7067 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u7068 {
  position:absolute;
  left:356px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u7070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7071 {
  position:absolute;
  left:518px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7071_img.mouseOver {
}
#u7071.mouseOver {
  opacity:0.6;
}
#u7072 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u7073 {
  position:absolute;
  left:525px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7074 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7076 {
  position:absolute;
  left:910px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7077 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7078 {
  position:absolute;
  left:810px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7079 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7080 {
  position:absolute;
  left:1010px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7081 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:60px;
}
#u7082 {
  position:absolute;
  left:1844px;
  top:0px;
  width:76px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7083 {
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7084 {
  position:absolute;
  left:1784px;
  top:0px;
  width:60px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7085 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
