body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-family:'Webdings Bold', 'Webdings Regular', 'Webdings';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2098 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2101 {
  position:absolute;
  left:888px;
  top:874px;
  width:1031px;
  height:206px;
  overflow:hidden;
}
#u2101_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2104 {
  position:absolute;
  left:2px;
  top:95px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u2106 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2106_img.mouseOver {
}
#u2106.mouseOver {
  opacity:0.6;
}
#u2107 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2108 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:100px;
}
#u2111 {
  position:absolute;
  left:723px;
  top:74px;
  width:113px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2111_img.mouseOver {
}
#u2111.mouseOver {
  opacity:0.6;
}
#u2112 {
  position:absolute;
  left:2px;
  top:42px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2113 {
  position:absolute;
  left:730px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u2116 {
  position:absolute;
  left:885px;
  top:74px;
  width:102px;
  height:102px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2116_img.mouseOver {
}
#u2116.mouseOver {
  opacity:0.6;
}
#u2117 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2118 {
  position:absolute;
  left:886px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2121 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2121_img.mouseOver {
}
#u2121.mouseOver {
  opacity:0.6;
}
#u2122 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2123 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2126 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2126_img.mouseOver {
}
#u2126.mouseOver {
  opacity:0.6;
}
#u2127 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2128 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2132 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u2133 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2133_img.mouseOver {
}
#u2133.mouseOver {
  opacity:0.6;
}
#u2134 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u2135 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2135_img.mouseOver {
}
#u2135.mouseOver {
  opacity:0.6;
}
#u2136 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u2137 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2137_img.mouseOver {
}
#u2137.mouseOver {
  opacity:0.6;
}
#u2138 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2141 {
  position:absolute;
  left:2px;
  top:42px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2144 {
  position:absolute;
  left:116px;
  top:11px;
  width:35px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u2144_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2144_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u2145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2146 {
  position:absolute;
  left:116px;
  top:11px;
  width:763px;
  height:78px;
}
#u2146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:78px;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u2147 {
  position:absolute;
  left:16px;
  top:11px;
  width:78px;
  height:78px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2148 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149 {
  position:absolute;
  left:790px;
  top:7px;
  width:89px;
  height:89px;
  overflow:hidden;
  visibility:hidden;
}
#u2149_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2149_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2150 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  word-wrap:break-word;
}
#u2152 {
  position:absolute;
  left:68px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2153 {
  position:absolute;
  left:16px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2154 {
  position:absolute;
  left:42px;
  top:37px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2155 {
  position:absolute;
  left:68px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2156 {
  position:absolute;
  left:16px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2157 {
  position:absolute;
  left:0px;
  top:99px;
  width:57px;
  height:49px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
