body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u13399 {
  position:absolute;
  left:295px;
  top:0px;
  width:300px;
  height:80px;
}
#u13400 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u13401 {
  position:absolute;
  left:295px;
  top:90px;
  width:300px;
  height:80px;
}
#u13402 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
