body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u13376 {
  position:absolute;
  left:295px;
  top:0px;
  width:300px;
  height:80px;
}
#u13377 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u13378 {
  position:absolute;
  left:295px;
  top:90px;
  width:300px;
  height:80px;
}
#u13379 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
