/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: #3ca2e0;
    overflow: hidden;
}

* {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    /*    font-family:'楷体';*/
}

i {
    color: #3ca2e0;
}

i:hover {
    color: #3ca2e0;
}

nav {
    z-index: 2000;
}

.navbar-mynavbar {
    background-color: #3ca2e0;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
    border-radius: 0px;
}

.navbar-mynavbar .navbar-brand {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-mynavbar .navbar-brand:hover,
.navbar-mynavbar .navbar-brand:focus {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}

.navbar-mynavbar .navbar-text {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-mynavbar .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-mynavbar .navbar-nav > li > a:hover,
.navbar-mynavbar .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}

.navbar-mynavbar .navbar-nav > .active > a,
.navbar-mynavbar .navbar-nav > .active > a:hover,
.navbar-mynavbar .navbar-nav > .active > a:focus {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-mynavbar .navbar-nav > .disabled > a,
.navbar-mynavbar .navbar-nav > .disabled > a:hover,
.navbar-mynavbar .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-mynavbar .navbar-toggle {
    border-color: #ddd;
}

.navbar-mynavbar .navbar-toggle:hover,
.navbar-mynavbar .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-mynavbar .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-mynavbar .navbar-collapse,
.navbar-mynavbar .navbar-form {
    border-color: rgba(255, 255, 255, 0.2);
}

.navbar-mynavbar .navbar-nav > .open > a,
.navbar-mynavbar .navbar-nav > .open > a:hover,
.navbar-mynavbar .navbar-nav > .open > a:focus {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 767px) {
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > li > a {
        color: rgba(255, 255, 255, 0.6);
    }
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: rgba(255, 255, 255, 1);
        background-color: transparent;
    }
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 1);
    }
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-mynavbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-mynavbar .navbar-link {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-mynavbar .navbar-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-mynavbar .btn-link {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-mynavbar .btn-link:hover,
.navbar-mynavbar .btn-link:focus {
    color: rgba(255, 255, 255, 1);
}

.navbar-mynavbar .btn-link[disabled]:hover,
fieldset[disabled] .navbar-mynavbar .btn-link:hover,
.navbar-mynavbar .btn-link[disabled]:focus,
fieldset[disabled] .navbar-mynavbar .btn-link:focus {
    color: #ccc;
}

.navbar-mynavbar {
    opacity: 0;
    transition: opacity 1s;
}

.navbar-mynavbar:hover {
    opacity: 1;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 1);
}

.dropdown-menu-inverse {
    background-color: rgba(60, 162, 224, 0.9);
}

.dropdown-menu-inverse > li > a,
.dropdown-menu-inverse > li > a > i {
    color: #fff;
}

.input-group {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
}

.form-no-border {
    border: 0px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0px 0;
}

.form-no-border:focus {
    border: 0px;
    /*height: auto;*/
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
}

.input-group-addon {
    padding: 10px 12px;
    font-size: 15px;
    text-align: center;
    background-color: #ffffff;
    border: 0px;
    border-radius: 6px;
}

.checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked,
.radio input[type="radio"].custom-radio:checked + .icons .icon-checked {
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    color: #3ca2e0;
}

.ui-slider-range {
    background-color: #3ca2e0;
}

.ui-slider-handle,
.ui-slider-handle:focus {
    background-color: #3ca2e0;
}

.ui-slider-handle:hover {
    background-color: #4cb2f0;
}

.accordion {
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
}

.cloth-disp {
    padding: 10px;
}

.cloth-disp-origin {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
    background-color: rgba(255,255,255,1);
    text-align: center;
}

.cloth-disp-origin-cover {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.cloth-disp-origin-cover:hover{
    opacity: 1;
}


.guxblock-move {
    position: relative;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px 0;
    color: #606d7a;
    z-index: 1000;
}

.guxblock {
    position: relative;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px 0;
    color: #606d7a;
    z-index: 1000;
    width: 100%;
}
.chart{
    width: 100%;
}
.font-gray {
    color: #606d7a;
}

.smart-chain {
    display: none;
}