@pretty-yellow: rgba(195, 180, 47, 0.8);
@pretty-yellow-light: lighten(@pretty-yellow, 10%);
@pretty-red: rgba(224, 60, 60, 0.8);
@pretty-red-light: lighten(@pretty-red, 10%);
@pretty-blue: rgba(113, 166, 197, 0.8);
@pretty-blue-light: lighten(@pretty-blue, 10%);
// @pretty-green: ;
// @pretty-green-light: lighten(@pretty-green, 10%);
@pretty-orange: rgba(224, 162, 60, 0.8);
@pretty-orange-light: lighten(@pretty-orange, 10%);
// @pretty-purple: ;
// @pretty-purple-light: lighten(@pretty-purple, 10%);
// @pretty-brown: ;
// @pretty-brown-light: lighten(@pretty-brown, 10%);
// @pretty-white: ;
// @pretty-white-light: lighten(@pretty-white, 10%);
// @pretty-pink: ;
// @pretty-pink-light: lighten(@pretty-pink, 10%);
@hundred-percent: 100%;
@zoom-percent: 96%;
.supply-cell {
    position: relative;
    margin: auto;
    // background: -webkit-linear-gradient(top,#ccc, #000);
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    -webkit-clip-path: circle(@zoom-percent/2 at 50% 50%);
    width: @zoom-percent;
    height: @zoom-percent;
    text-align: center;
    z-index: 0;
    color: rgba(68, 68, 68, 0.8);
    transition: all 0.3s;
    // transition: transform 0s;
    &:hover {
        -webkit-clip-path: circle(50% at 50% 50%);
        width: 100%;
        height: 100%;
    }
    &-yellow {
        background: @pretty-yellow;
        border: 1px solid @pretty-yellow-light;
        &:hover {
            background: @pretty-yellow-light;
        }
    }
    &-red {
        background: @pretty-red;
        border: 1px solid @pretty-red-light;
        &:hover {
            background: @pretty-red-light;
        }
    }
    &-blue {
        background: @pretty-blue;
        border: 1px solid @pretty-blue-light;
        &:hover {
            background: @pretty-blue-light;
        }
    }
    &-orange {
        background: @pretty-orange;
        border: 1px solid @pretty-orange-light;
        &:hover {
            background: @pretty-orange-light;
        }
    }
}

.img-adjusted {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    -webkit-clip-path: circle(55% at 50% 50%);
}
