body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3629 {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u3629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u3630 {
  position:absolute;
  left:1217px;
  top:874px;
  width:703px;
  height:206px;
  overflow:hidden;
}
#u3630_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3630_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3632 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:206px;
}
#u3633 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:206px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3634 {
  position:absolute;
  left:2px;
  top:95px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3636 {
  position:absolute;
  left:212px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3636_img.mouseOver {
}
#u3636.mouseOver {
  opacity:0.6;
}
#u3637 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u3638 {
  position:absolute;
  left:200px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3639 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u3641 {
  position:absolute;
  left:352px;
  top:74px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3641_img.mouseOver {
}
#u3641.mouseOver {
  opacity:0.6;
}
#u3642 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u3643 {
  position:absolute;
  left:356px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3644 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3646 {
  position:absolute;
  left:518px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3646_img.mouseOver {
}
#u3646.mouseOver {
  opacity:0.6;
}
#u3647 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u3648 {
  position:absolute;
  left:525px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u3649 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3650 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3651 {
  position:absolute;
  left:910px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u3652 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3653 {
  position:absolute;
  left:810px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u3654 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3655 {
  position:absolute;
  left:1010px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u3656 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:60px;
}
#u3657 {
  position:absolute;
  left:1844px;
  top:0px;
  width:76px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u3658 {
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u3659 {
  position:absolute;
  left:1784px;
  top:0px;
  width:60px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u3660 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:178px;
}
#u3661 {
  position:absolute;
  left:145px;
  top:625px;
  width:445px;
  height:178px;
  color:#1E1E1E;
}
#u3662 {
  position:absolute;
  left:2px;
  top:81px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3663 {
  position:absolute;
  left:213px;
  top:694px;
  width:337px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u3664 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u3665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:295px;
}
#u3665 {
  position:absolute;
  left:0px;
  top:785px;
  width:297px;
  height:295px;
  color:#1E1E1E;
}
#u3666 {
  position:absolute;
  left:2px;
  top:140px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
