body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:709px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:261px;
}
#u13370 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:261px;
}
#u13371 {
  position:absolute;
  left:2px;
  top:122px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
}
#u13372 {
  position:absolute;
  left:409px;
  top:24px;
  width:300px;
  height:112px;
}
#u13373 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
