body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24323 {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u24323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u24324 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u24325 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u24326 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u24327 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u24327_img.mouseOver {
}
#u24327.mouseOver {
  opacity:0.6;
}
#u24328 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u24329 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u24329_img.mouseOver {
}
#u24329.mouseOver {
  opacity:0.6;
}
#u24330 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u24331 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u24331_img.mouseOver {
}
#u24331.mouseOver {
  opacity:0.6;
}
#u24332 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
}
#u24334 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24335 {
  position:absolute;
  left:2px;
  top:42px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24338 {
  position:absolute;
  left:116px;
  top:11px;
  width:35px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u24338_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24338_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24339 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u24339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24340 {
  position:absolute;
  left:116px;
  top:11px;
  width:763px;
  height:78px;
}
#u24340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:78px;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u24341 {
  position:absolute;
  left:16px;
  top:11px;
  width:78px;
  height:78px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24342 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24343 {
  position:absolute;
  left:790px;
  top:7px;
  width:89px;
  height:89px;
  overflow:hidden;
  visibility:hidden;
}
#u24343_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24343_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24344 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u24345 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  word-wrap:break-word;
}
#u24346 {
  position:absolute;
  left:68px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24347 {
  position:absolute;
  left:16px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24348 {
  position:absolute;
  left:42px;
  top:37px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24349 {
  position:absolute;
  left:68px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24350 {
  position:absolute;
  left:16px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24351 {
  position:absolute;
  left:888px;
  top:874px;
  width:1031px;
  height:206px;
  overflow:hidden;
}
#u24351_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24351_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
}
#u24353 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24354 {
  position:absolute;
  left:2px;
  top:95px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24355 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u24356 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24356_img.mouseOver {
}
#u24356.mouseOver {
  opacity:0.6;
}
#u24357 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u24358 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u24359 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:100px;
}
#u24361 {
  position:absolute;
  left:723px;
  top:74px;
  width:113px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24361_img.mouseOver {
}
#u24361.mouseOver {
  opacity:0.6;
}
#u24362 {
  position:absolute;
  left:2px;
  top:42px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u24363 {
  position:absolute;
  left:730px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u24364 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u24366 {
  position:absolute;
  left:885px;
  top:74px;
  width:102px;
  height:102px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24366_img.mouseOver {
}
#u24366.mouseOver {
  opacity:0.6;
}
#u24367 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u24368 {
  position:absolute;
  left:886px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u24369 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u24371 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24371_img.mouseOver {
}
#u24371.mouseOver {
  opacity:0.6;
}
#u24372 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u24373 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u24374 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u24376 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24376_img.mouseOver {
}
#u24376.mouseOver {
  opacity:0.6;
}
#u24377 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u24378 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u24379 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u24380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24380 {
  position:absolute;
  left:604px;
  top:43px;
  width:50px;
  height:50px;
}
#u24381 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24382 {
  position:absolute;
  left:387px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24383 {
  position:absolute;
  left:242px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24384 {
  position:absolute;
  left:90px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24385 {
  position:absolute;
  left:521px;
  top:950px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u24386 {
  position:absolute;
  left:816px;
  top:31px;
  width:289px;
  height:42px;
  font-size:36px;
}
#u24387 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
