body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:850px;
}
#u25046 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:850px;
}
#u25047 {
  position:absolute;
  left:2px;
  top:417px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:33px;
}
#u25048 {
  position:absolute;
  left:248px;
  top:724px;
  width:153px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25049 {
  position:absolute;
  left:0px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u25050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25051 {
  position:absolute;
  left:315px;
  top:794px;
  width:109px;
  height:30px;
}
#u25052 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25053 {
  position:absolute;
  left:316px;
  top:794px;
  width:107px;
  height:30px;
  overflow:hidden;
}
#u25053_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25053_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u25054 {
  position:absolute;
  left:0px;
  top:8px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u25055 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25053_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25053_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u25056 {
  position:absolute;
  left:0px;
  top:8px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u25057 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u25058 {
  position:absolute;
  left:414px;
  top:794px;
  width:92px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25059 {
  position:absolute;
  left:0px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u25060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:645px;
}
#u25060 {
  position:absolute;
  left:0px;
  top:79px;
  width:960px;
  height:645px;
}
#u25061 {
  position:absolute;
  left:2px;
  top:314px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u25062 {
  position:absolute;
  left:337px;
  top:343px;
  width:48px;
  height:33px;
}
#u25063 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25065 {
  position:absolute;
  left:391px;
  top:344px;
  width:270px;
  height:190px;
}
#u25066 {
  position:absolute;
  left:2px;
  top:87px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:128px;
}
#u25067 {
  position:absolute;
  left:395px;
  top:350px;
  width:264px;
  height:128px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25068 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u25069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25069 {
  position:absolute;
  left:631px;
  top:344px;
  width:30px;
  height:30px;
}
#u25070 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25071 {
  position:absolute;
  left:439px;
  top:508px;
  width:176px;
  height:25px;
  overflow:hidden;
}
#u25071_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25071_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25072 {
  position:absolute;
  left:0px;
  top:3px;
  width:176px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25072_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25072.mouseDown {
}
#u25072_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25072.disabled {
}
#u25073 {
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
#u25071_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25071_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25074 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25074_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25074.mouseDown {
}
#u25074_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25074.disabled {
}
#u25075 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25076 {
  position:absolute;
  left:150px;
  top:0px;
  width:25px;
  height:25px;
}
#u25077 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25071_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25071_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25078 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25078_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25078.mouseDown {
}
#u25078_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25078.disabled {
}
#u25079 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25080 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25081 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u25082 {
  position:absolute;
  left:152px;
  top:0px;
  width:24px;
  height:24px;
}
#u25083 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25084 {
  position:absolute;
  left:439px;
  top:508px;
  width:135px;
  height:25px;
  color:#FFFFFF;
}
#u25085 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:29px;
}
#u25086 {
  position:absolute;
  left:65px;
  top:796px;
  width:198px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25087 {
  position:absolute;
  left:0px;
  top:6px;
  width:198px;
  word-wrap:break-word;
}
#u25088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u25089 {
  position:absolute;
  left:351px;
  top:319px;
  width:432px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u25090 {
  position:absolute;
  left:2px;
  top:4px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25091 {
  position:absolute;
  left:371px;
  top:321px;
  width:406px;
  height:20px;
}
#u25091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:20px;
  background-color:#FF0000;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25092 {
  position:absolute;
  left:353px;
  top:321px;
  width:20px;
  height:20px;
}
#u25093 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u25095 {
  position:absolute;
  left:351px;
  top:319px;
  width:24px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u25096 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25097 {
  position:absolute;
  left:353px;
  top:321px;
  width:20px;
  height:20px;
}
#u25098 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25099 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  background:inherit;
  background-color:rgba(153, 0, 255, 0.8);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25100 {
  position:absolute;
  left:660px;
  top:534px;
  width:270px;
  height:190px;
  color:#FFFFFF;
}
#u25101 {
  position:absolute;
  left:2px;
  top:87px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:128px;
}
#u25102 {
  position:absolute;
  left:664px;
  top:540px;
  width:264px;
  height:128px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25103 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u25104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25104 {
  position:absolute;
  left:900px;
  top:534px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u25105 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25106 {
  position:absolute;
  left:708px;
  top:698px;
  width:176px;
  height:25px;
  overflow:hidden;
}
#u25106_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25107 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25107_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25107.mouseDown {
}
#u25107_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25107.disabled {
}
#u25108 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25106_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25106_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25109 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25109_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25109.mouseDown {
}
#u25109_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25109.disabled {
}
#u25110 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25111 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25112 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25113 {
  position:absolute;
  left:708px;
  top:698px;
  width:135px;
  height:25px;
  color:#FFFFFF;
}
#u25114 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25115 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  background:inherit;
  background-color:rgba(153, 102, 255, 0.8);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25117 {
  position:absolute;
  left:661px;
  top:344px;
  width:270px;
  height:190px;
}
#u25118 {
  position:absolute;
  left:2px;
  top:87px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u25119 {
  position:absolute;
  left:705px;
  top:350px;
  width:180px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25120 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u25121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25121 {
  position:absolute;
  left:901px;
  top:344px;
  width:30px;
  height:30px;
}
#u25122 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25123 {
  position:absolute;
  left:709px;
  top:508px;
  width:176px;
  height:25px;
  overflow:hidden;
}
#u25123_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25123_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25124 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25124_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25124.mouseDown {
}
#u25124_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25124.disabled {
}
#u25125 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25123_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25123_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25126 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25126_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25126.mouseDown {
}
#u25126_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25126.disabled {
}
#u25127 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25128 {
  position:absolute;
  left:150px;
  top:0px;
  width:25px;
  height:25px;
}
#u25129 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25123_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25123_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25130 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25130_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25130.mouseDown {
}
#u25130_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25130.disabled {
}
#u25131 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25132 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25133 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25134 {
  position:absolute;
  left:151px;
  top:0px;
  width:25px;
  height:25px;
}
#u25135 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25136 {
  position:absolute;
  left:709px;
  top:508px;
  width:135px;
  height:25px;
}
#u25137 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25138 {
  position:absolute;
  left:671px;
  top:350px;
  width:32px;
  height:32px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25138_img.mouseOver {
}
#u25138.mouseOver {
  opacity:0.6;
}
#u25139 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25140 {
  position:absolute;
  left:669px;
  top:458px;
  width:32px;
  height:32px;
}
#u25141 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25142 {
  position:absolute;
  left:669px;
  top:405px;
  width:32px;
  height:32px;
}
#u25143 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u25144 {
  position:absolute;
  left:705px;
  top:406px;
  width:180px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25145 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u25146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u25146 {
  position:absolute;
  left:705px;
  top:459px;
  width:188px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25147 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u25148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u25148 {
  position:absolute;
  left:657px;
  top:382px;
  width:56px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25149 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u25150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u25150 {
  position:absolute;
  left:657px;
  top:438px;
  width:56px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25151 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u25152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u25152 {
  position:absolute;
  left:657px;
  top:491px;
  width:56px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25153 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u25154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25154 {
  position:absolute;
  left:893px;
  top:459px;
  width:32px;
  height:32px;
}
#u25155 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
