body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:850px;
}
#u25019 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:850px;
}
#u25020 {
  position:absolute;
  left:2px;
  top:417px;
  width:1198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:33px;
}
#u25021 {
  position:absolute;
  left:248px;
  top:724px;
  width:153px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25022 {
  position:absolute;
  left:0px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u25023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25024 {
  position:absolute;
  left:315px;
  top:794px;
  width:109px;
  height:30px;
}
#u25025 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25026 {
  position:absolute;
  left:316px;
  top:794px;
  width:107px;
  height:30px;
  overflow:hidden;
}
#u25026_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25026_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u25027 {
  position:absolute;
  left:0px;
  top:8px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u25028 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25026_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25026_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1E1E1E;
}
#u25029 {
  position:absolute;
  left:0px;
  top:8px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#1E1E1E;
}
#u25030 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u25031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u25031 {
  position:absolute;
  left:414px;
  top:794px;
  width:92px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u25032 {
  position:absolute;
  left:0px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u25033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:645px;
}
#u25033 {
  position:absolute;
  left:0px;
  top:79px;
  width:960px;
  height:645px;
}
#u25034 {
  position:absolute;
  left:2px;
  top:314px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u25035 {
  position:absolute;
  left:337px;
  top:343px;
  width:48px;
  height:33px;
}
#u25036 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25038 {
  position:absolute;
  left:391px;
  top:344px;
  width:270px;
  height:190px;
}
#u25039 {
  position:absolute;
  left:2px;
  top:87px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:128px;
}
#u25040 {
  position:absolute;
  left:395px;
  top:350px;
  width:264px;
  height:128px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25041 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u25042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25042 {
  position:absolute;
  left:631px;
  top:344px;
  width:30px;
  height:30px;
}
#u25043 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25044 {
  position:absolute;
  left:439px;
  top:508px;
  width:176px;
  height:25px;
  overflow:hidden;
}
#u25044_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25044_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25045 {
  position:absolute;
  left:0px;
  top:3px;
  width:176px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25045_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25045.mouseDown {
}
#u25045_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:18px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25045.disabled {
}
#u25046 {
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
#u25044_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25044_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25047 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25047_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25047.mouseDown {
}
#u25047_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25047.disabled {
}
#u25048 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25049 {
  position:absolute;
  left:150px;
  top:0px;
  width:25px;
  height:25px;
}
#u25050 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25044_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25044_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25051 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25051_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25051.mouseDown {
}
#u25051_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25051.disabled {
}
#u25052 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25053 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25054 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u25055 {
  position:absolute;
  left:152px;
  top:0px;
  width:24px;
  height:24px;
}
#u25056 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25057 {
  position:absolute;
  left:439px;
  top:508px;
  width:135px;
  height:25px;
  color:#FFFFFF;
}
#u25058 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:29px;
}
#u25059 {
  position:absolute;
  left:65px;
  top:796px;
  width:198px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u25060 {
  position:absolute;
  left:0px;
  top:6px;
  width:198px;
  word-wrap:break-word;
}
#u25061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u25062 {
  position:absolute;
  left:351px;
  top:319px;
  width:432px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u25063 {
  position:absolute;
  left:2px;
  top:4px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25064 {
  position:absolute;
  left:371px;
  top:321px;
  width:406px;
  height:20px;
}
#u25064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:20px;
  background-color:#FF0000;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25065 {
  position:absolute;
  left:353px;
  top:321px;
  width:20px;
  height:20px;
}
#u25066 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u25068 {
  position:absolute;
  left:351px;
  top:319px;
  width:24px;
  height:24px;
  color:#FFFFFF;
  text-align:left;
}
#u25069 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25070 {
  position:absolute;
  left:353px;
  top:321px;
  width:20px;
  height:20px;
}
#u25071 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  background:inherit;
  background-color:rgba(153, 0, 255, 0.8);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25073 {
  position:absolute;
  left:660px;
  top:534px;
  width:270px;
  height:190px;
  color:#FFFFFF;
}
#u25074 {
  position:absolute;
  left:2px;
  top:87px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:128px;
}
#u25075 {
  position:absolute;
  left:664px;
  top:540px;
  width:264px;
  height:128px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u25076 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u25077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25077 {
  position:absolute;
  left:900px;
  top:534px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u25078 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25079 {
  position:absolute;
  left:708px;
  top:698px;
  width:176px;
  height:25px;
  overflow:hidden;
}
#u25079_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25079_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25080 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25080_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25080.mouseDown {
}
#u25080_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25080.disabled {
}
#u25081 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25079_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25079_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25082 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25082_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25082.mouseDown {
}
#u25082_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25082.disabled {
}
#u25083 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25084 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25085 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u25086 {
  position:absolute;
  left:708px;
  top:698px;
  width:135px;
  height:25px;
  color:#FFFFFF;
}
#u25087 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25088 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25088_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:190px;
  background:inherit;
  background-color:rgba(153, 102, 255, 0.8);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25090 {
  position:absolute;
  left:661px;
  top:344px;
  width:270px;
  height:190px;
}
#u25091 {
  position:absolute;
  left:2px;
  top:87px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u25092 {
  position:absolute;
  left:705px;
  top:350px;
  width:180px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25093 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u25094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25094 {
  position:absolute;
  left:901px;
  top:344px;
  width:30px;
  height:30px;
}
#u25095 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25096 {
  position:absolute;
  left:709px;
  top:508px;
  width:176px;
  height:25px;
  overflow:hidden;
}
#u25096_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25096_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(2, 119, 186, 1) 100%, rgba(2, 119, 186, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25097 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25097_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25097.mouseDown {
}
#u25097_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25097.disabled {
}
#u25098 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25096_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25096_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(153, 204, 255, 1) 0%, rgba(153, 204, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25099 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25099_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25099.mouseDown {
}
#u25099_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25099.disabled {
}
#u25100 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25101 {
  position:absolute;
  left:150px;
  top:0px;
  width:25px;
  height:25px;
}
#u25102 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25096_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:25px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25096_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(93, 170, 227, 1) 0%, rgba(93, 170, 227, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25103 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25103_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(0, 102, 153, 1) 100%, rgba(0, 102, 153, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25103.mouseDown {
}
#u25103_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(102, 102, 102, 1) 100%, rgba(102, 102, 102, 1) 100%);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25103.disabled {
}
#u25104 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u25105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25105 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25106 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25107 {
  position:absolute;
  left:151px;
  top:0px;
  width:25px;
  height:25px;
}
#u25108 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25109 {
  position:absolute;
  left:709px;
  top:508px;
  width:135px;
  height:25px;
}
#u25110 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25111 {
  position:absolute;
  left:671px;
  top:350px;
  width:32px;
  height:32px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u25111_img.mouseOver {
}
#u25111.mouseOver {
  opacity:0.6;
}
#u25112 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25113 {
  position:absolute;
  left:669px;
  top:458px;
  width:32px;
  height:32px;
}
#u25114 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25115 {
  position:absolute;
  left:669px;
  top:405px;
  width:32px;
  height:32px;
}
#u25116 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u25117 {
  position:absolute;
  left:705px;
  top:406px;
  width:180px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25118 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u25119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u25119 {
  position:absolute;
  left:705px;
  top:459px;
  width:188px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u25120 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u25121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u25121 {
  position:absolute;
  left:657px;
  top:382px;
  width:56px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25122 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u25123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u25123 {
  position:absolute;
  left:657px;
  top:438px;
  width:56px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25124 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u25125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:15px;
}
#u25125 {
  position:absolute;
  left:657px;
  top:491px;
  width:56px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25126 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u25127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u25127 {
  position:absolute;
  left:893px;
  top:459px;
  width:32px;
  height:32px;
}
#u25128 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
