body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1193px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:663px;
}
#u13342 {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:663px;
}
#u13343 {
  position:absolute;
  left:2px;
  top:324px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13344 {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:88px;
}
#u13345 {
  position:absolute;
  left:2px;
  top:36px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13346 {
  position:absolute;
  left:0px;
  top:622px;
  width:1194px;
  height:62px;
}
#u13347 {
  position:absolute;
  left:2px;
  top:23px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:564px;
}
#u13348 {
  position:absolute;
  left:-2px;
  top:88px;
  width:1197px;
  height:564px;
}
#u13349 {
  position:absolute;
  left:2px;
  top:274px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13350 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:100px;
}
#u13350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13351 {
  position:absolute;
  left:608px;
  top:88px;
  width:165px;
  height:39px;
}
#u13352 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13353 {
  position:absolute;
  left:52px;
  top:505px;
  width:163px;
  height:44px;
}
#u13354 {
  position:absolute;
  left:2px;
  top:14px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13355 {
  position:absolute;
  left:130px;
  top:192px;
  width:141px;
  height:42px;
}
#u13356 {
  position:absolute;
  left:2px;
  top:13px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13357 {
  position:absolute;
  left:510px;
  top:498px;
  width:229px;
  height:42px;
}
#u13358 {
  position:absolute;
  left:2px;
  top:13px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:44px;
}
#u13359 {
  position:absolute;
  left:738px;
  top:14px;
  width:448px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u13360 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
