body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u13109 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13110 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13111 {
  position:absolute;
  left:888px;
  top:874px;
  width:1031px;
  height:206px;
  overflow:hidden;
}
#u13111_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13111_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
}
#u13113 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  color:#FFFFFF;
}
#u13114 {
  position:absolute;
  left:2px;
  top:95px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13115 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u13116 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  color:#FFFFFF;
}
#u13116_img.mouseOver {
}
#u13116.mouseOver {
  opacity:0.6;
}
#u13117 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u13118 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13119 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:100px;
}
#u13121 {
  position:absolute;
  left:723px;
  top:74px;
  width:113px;
  height:100px;
  color:#FFFFFF;
}
#u13121_img.mouseOver {
}
#u13121.mouseOver {
  opacity:0.6;
}
#u13122 {
  position:absolute;
  left:2px;
  top:42px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u13123 {
  position:absolute;
  left:730px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13124 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u13126 {
  position:absolute;
  left:885px;
  top:74px;
  width:102px;
  height:102px;
  color:#FFFFFF;
}
#u13126_img.mouseOver {
}
#u13126.mouseOver {
  opacity:0.6;
}
#u13127 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u13128 {
  position:absolute;
  left:886px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13129 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13131 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u13131_img.mouseOver {
}
#u13131.mouseOver {
  opacity:0.6;
}
#u13132 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u13133 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13134 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13136 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u13136_img.mouseOver {
}
#u13136.mouseOver {
  opacity:0.6;
}
#u13137 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u13138 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13139 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u13140 {
  position:absolute;
  left:200px;
  top:150px;
  width:1280px;
  height:720px;
}
#u13141 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13143 {
  position:absolute;
  left:528px;
  top:349px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13144 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13143_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u13145 {
  position:absolute;
  left:599px;
  top:349px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13146 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13145_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u13147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u13147 {
  position:absolute;
  left:438px;
  top:349px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13148 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13149 {
  position:absolute;
  left:665px;
  top:349px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13150 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13149_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u13151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u13152 {
  position:absolute;
  left:438px;
  top:536px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13153 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13154 {
  position:absolute;
  left:528px;
  top:534px;
  width:210px;
  height:37px;
}
#u13154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#333333;
}
#u13154_input:disabled {
  color:grayText;
}
#u13155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u13156 {
  position:absolute;
  left:438px;
  top:440px;
  width:90px;
  height:34px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13157 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13158 {
  position:absolute;
  left:678px;
  top:438px;
  width:60px;
  height:39px;
}
#u13158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
}
#u13158_input:disabled {
  color:grayText;
}
#u13159 {
  position:absolute;
  left:618px;
  top:438px;
  width:60px;
  height:39px;
}
#u13159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
}
#u13159_input:disabled {
  color:grayText;
}
#u13160 {
  position:absolute;
  left:528px;
  top:438px;
  width:90px;
  height:39px;
}
#u13160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
}
#u13160_input:disabled {
  color:grayText;
}
#u13161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13162 {
  position:absolute;
  left:528px;
  top:260px;
  width:210px;
  height:33px;
}
#u13162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u13163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u13163 {
  position:absolute;
  left:438px;
  top:260px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13164 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13166 {
  position:absolute;
  left:522px;
  top:627px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13167 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13166_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u13168 {
  position:absolute;
  left:595px;
  top:627px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13169 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13168_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u13170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u13170 {
  position:absolute;
  left:438px;
  top:627px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13171 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13172 {
  position:absolute;
  left:668px;
  top:627px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13173 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u13172_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u13174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u13175 {
  position:absolute;
  left:438px;
  top:718px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13176 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u13177 {
  position:absolute;
  left:528px;
  top:716px;
  width:210px;
  height:37px;
}
#u13177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#333333;
}
#u13177_input:disabled {
  color:grayText;
}
#u13178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13179 {
  position:absolute;
  left:1024px;
  top:260px;
  width:210px;
  height:33px;
}
#u13179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u13180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u13180 {
  position:absolute;
  left:874px;
  top:260px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13181 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13183 {
  position:absolute;
  left:1024px;
  top:352px;
  width:210px;
  height:33px;
}
#u13183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u13184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u13184 {
  position:absolute;
  left:874px;
  top:352px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13185 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13187 {
  position:absolute;
  left:1024px;
  top:443px;
  width:210px;
  height:33px;
}
#u13187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u13188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u13188 {
  position:absolute;
  left:874px;
  top:443px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13189 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13191 {
  position:absolute;
  left:1024px;
  top:535px;
  width:210px;
  height:33px;
}
#u13191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u13192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u13192 {
  position:absolute;
  left:874px;
  top:535px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13193 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13195 {
  position:absolute;
  left:1024px;
  top:626px;
  width:210px;
  height:33px;
}
#u13195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u13196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u13196 {
  position:absolute;
  left:874px;
  top:626px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13197 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13199 {
  position:absolute;
  left:1024px;
  top:718px;
  width:210px;
  height:33px;
}
#u13199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u13200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u13200 {
  position:absolute;
  left:874px;
  top:718px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u13201 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u13202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u13204 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
}
#u13205 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u13206 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
}
#u13206_img.mouseOver {
}
#u13206.mouseOver {
  opacity:0.6;
}
#u13207 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u13208 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
}
#u13208_img.mouseOver {
}
#u13208.mouseOver {
  opacity:0.6;
}
#u13209 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u13210 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
}
#u13210_img.mouseOver {
}
#u13210.mouseOver {
  opacity:0.6;
}
#u13211 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
}
#u13213 {
  position:absolute;
  left:39px;
  top:34px;
  width:1000px;
  height:45px;
}
#u13214 {
  position:absolute;
  left:2px;
  top:14px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13217 {
  position:absolute;
  left:91px;
  top:39px;
  width:40px;
  height:16px;
  overflow:hidden;
  visibility:hidden;
}
#u13217_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13217_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13218 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u13218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13219 {
  position:absolute;
  left:91px;
  top:39px;
  width:855px;
  height:35px;
}
#u13219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13220 {
  position:absolute;
  left:46px;
  top:39px;
  width:35px;
  height:35px;
}
#u13221 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13222 {
  position:absolute;
  left:994px;
  top:37px;
  width:40px;
  height:40px;
  overflow:hidden;
  visibility:hidden;
}
#u13222_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13222_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13223 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u13224 {
  position:absolute;
  left:0px;
  top:-8px;
  width:40px;
  word-wrap:break-word;
}
#u13225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u13225 {
  position:absolute;
  left:1792px;
  top:0px;
  width:128px;
  height:128px;
  color:#FFFFFF;
}
#u13226 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
