body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:545px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:156px;
}
#u13403 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:156px;
}
#u13404 {
  position:absolute;
  left:2px;
  top:70px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u13405 {
  position:absolute;
  left:245px;
  top:8px;
  width:300px;
  height:64px;
}
#u13406 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
