body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13628 {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u13628_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u13629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u13630 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13631 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u13632 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13632_img.mouseOver {
}
#u13632.mouseOver {
  opacity:0.6;
}
#u13633 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u13634 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13634_img.mouseOver {
}
#u13634.mouseOver {
  opacity:0.6;
}
#u13635 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u13636 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13636_img.mouseOver {
}
#u13636.mouseOver {
  opacity:0.6;
}
#u13637 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13638 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
}
#u13639 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13640 {
  position:absolute;
  left:2px;
  top:42px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13643 {
  position:absolute;
  left:116px;
  top:11px;
  width:35px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u13643_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13643_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13644 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u13644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13645 {
  position:absolute;
  left:116px;
  top:11px;
  width:763px;
  height:78px;
}
#u13645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:78px;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u13646 {
  position:absolute;
  left:16px;
  top:11px;
  width:78px;
  height:78px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13647 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13648 {
  position:absolute;
  left:790px;
  top:7px;
  width:89px;
  height:89px;
  overflow:hidden;
  visibility:hidden;
}
#u13648_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13648_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13649 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u13650 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  word-wrap:break-word;
}
#u13651 {
  position:absolute;
  left:68px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13652 {
  position:absolute;
  left:16px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13653 {
  position:absolute;
  left:42px;
  top:37px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13654 {
  position:absolute;
  left:68px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13655 {
  position:absolute;
  left:16px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13656 {
  position:absolute;
  left:888px;
  top:874px;
  width:1031px;
  height:206px;
  overflow:hidden;
}
#u13656_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13656_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13657 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
}
#u13658 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13659 {
  position:absolute;
  left:2px;
  top:95px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u13661 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13661_img.mouseOver {
}
#u13661.mouseOver {
  opacity:0.6;
}
#u13662 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u13663 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13664 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:100px;
}
#u13666 {
  position:absolute;
  left:723px;
  top:74px;
  width:113px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13666_img.mouseOver {
}
#u13666.mouseOver {
  opacity:0.6;
}
#u13667 {
  position:absolute;
  left:2px;
  top:42px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u13668 {
  position:absolute;
  left:730px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13669 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u13671 {
  position:absolute;
  left:885px;
  top:74px;
  width:102px;
  height:102px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13671_img.mouseOver {
}
#u13671.mouseOver {
  opacity:0.6;
}
#u13672 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u13673 {
  position:absolute;
  left:886px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13674 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13676 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13676_img.mouseOver {
}
#u13676.mouseOver {
  opacity:0.6;
}
#u13677 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u13678 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13679 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13681 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13681_img.mouseOver {
}
#u13681.mouseOver {
  opacity:0.6;
}
#u13682 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u13683 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u13684 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u13685 {
  position:absolute;
  left:387px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13686 {
  position:absolute;
  left:242px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13687 {
  position:absolute;
  left:90px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13688 {
  position:absolute;
  left:521px;
  top:950px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
