body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19516 {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u19516_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1916px;
  height:1076px;
}
#u19517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u19518 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u19519 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u19520 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u19520_img.mouseOver {
}
#u19520.mouseOver {
  opacity:0.6;
}
#u19521 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u19522 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u19522_img.mouseOver {
}
#u19522.mouseOver {
  opacity:0.6;
}
#u19523 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u19524 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u19524_img.mouseOver {
}
#u19524.mouseOver {
  opacity:0.6;
}
#u19525 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
}
#u19527 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19528 {
  position:absolute;
  left:2px;
  top:42px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19531 {
  position:absolute;
  left:116px;
  top:11px;
  width:35px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u19531_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19531_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19532 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u19532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19533 {
  position:absolute;
  left:116px;
  top:11px;
  width:763px;
  height:78px;
}
#u19533_input {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:78px;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u19534 {
  position:absolute;
  left:16px;
  top:11px;
  width:78px;
  height:78px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19535 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19536 {
  position:absolute;
  left:790px;
  top:7px;
  width:89px;
  height:89px;
  overflow:hidden;
  visibility:hidden;
}
#u19536_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19536_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19537 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u19538 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  word-wrap:break-word;
}
#u19539 {
  position:absolute;
  left:68px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19540 {
  position:absolute;
  left:16px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19541 {
  position:absolute;
  left:42px;
  top:37px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19542 {
  position:absolute;
  left:68px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19543 {
  position:absolute;
  left:16px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19544 {
  position:absolute;
  left:888px;
  top:874px;
  width:1031px;
  height:206px;
  overflow:hidden;
}
#u19544_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19544_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19545 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
}
#u19546 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19547 {
  position:absolute;
  left:2px;
  top:95px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19548 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u19549 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19549_img.mouseOver {
}
#u19549.mouseOver {
  opacity:0.6;
}
#u19550 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u19551 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19552 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:100px;
}
#u19554 {
  position:absolute;
  left:723px;
  top:74px;
  width:113px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19554_img.mouseOver {
}
#u19554.mouseOver {
  opacity:0.6;
}
#u19555 {
  position:absolute;
  left:2px;
  top:42px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u19556 {
  position:absolute;
  left:730px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19557 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19558 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u19559 {
  position:absolute;
  left:885px;
  top:74px;
  width:102px;
  height:102px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19559_img.mouseOver {
}
#u19559.mouseOver {
  opacity:0.6;
}
#u19560 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u19561 {
  position:absolute;
  left:886px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19562 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19563 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19564 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19564_img.mouseOver {
}
#u19564.mouseOver {
  opacity:0.6;
}
#u19565 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u19566 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19567 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19568 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19569 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19569_img.mouseOver {
}
#u19569.mouseOver {
  opacity:0.6;
}
#u19570 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u19571 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u19572 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u19573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19573 {
  position:absolute;
  left:594px;
  top:33px;
  width:50px;
  height:50px;
}
#u19574 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19575 {
  position:absolute;
  left:387px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19576 {
  position:absolute;
  left:242px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19577 {
  position:absolute;
  left:90px;
  top:831px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19578 {
  position:absolute;
  left:521px;
  top:950px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:200px;
}
#u19579 {
  position:absolute;
  left:827px;
  top:0px;
  width:267px;
  height:200px;
}
#u19580 {
  position:absolute;
  left:2px;
  top:92px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
