body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1468px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:663px;
}
#u19673 {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:663px;
}
#u19674 {
  position:absolute;
  left:2px;
  top:324px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19675 {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:88px;
}
#u19676 {
  position:absolute;
  left:2px;
  top:36px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19677 {
  position:absolute;
  left:0px;
  top:622px;
  width:1194px;
  height:62px;
}
#u19678 {
  position:absolute;
  left:2px;
  top:23px;
  width:1190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:564px;
}
#u19679 {
  position:absolute;
  left:-2px;
  top:88px;
  width:1197px;
  height:564px;
}
#u19680 {
  position:absolute;
  left:2px;
  top:274px;
  width:1193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19681 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:100px;
}
#u19681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u19682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19682 {
  position:absolute;
  left:501px;
  top:492px;
  width:271px;
  height:77px;
}
#u19683 {
  position:absolute;
  left:2px;
  top:30px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19684 {
  position:absolute;
  left:126px;
  top:500px;
  width:273px;
  height:51px;
}
#u19685 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19686 {
  position:absolute;
  left:51px;
  top:221px;
  width:216px;
  height:51px;
}
#u19687 {
  position:absolute;
  left:2px;
  top:18px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19688 {
  position:absolute;
  left:385px;
  top:253px;
  width:242px;
  height:40px;
}
#u19689 {
  position:absolute;
  left:2px;
  top:12px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:44px;
}
#u19690 {
  position:absolute;
  left:738px;
  top:22px;
  width:448px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u19691 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u19692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:240px;
}
#u19692 {
  position:absolute;
  left:1242px;
  top:73px;
  width:75px;
  height:240px;
}
#u19693 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u19694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:240px;
}
#u19694 {
  position:absolute;
  left:1317px;
  top:73px;
  width:75px;
  height:240px;
  color:#0000FF;
}
#u19695 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u19696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:240px;
}
#u19696 {
  position:absolute;
  left:1393px;
  top:73px;
  width:75px;
  height:240px;
  color:#0000FF;
}
#u19697 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u19698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19698 {
  position:absolute;
  left:914px;
  top:497px;
  width:199px;
  height:77px;
}
#u19699 {
  position:absolute;
  left:2px;
  top:30px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19700 {
  position:absolute;
  left:17px;
  top:19px;
  width:255px;
  height:36px;
  overflow:hidden;
}
#u19700_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19700_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u19701 {
  position:absolute;
  left:0px;
  top:6px;
  width:138px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u19702 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u19703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u19703 {
  position:absolute;
  left:166px;
  top:6px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u19704 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19700_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:36px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19700_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u19705 {
  position:absolute;
  left:0px;
  top:6px;
  width:138px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u19706 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u19707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u19707 {
  position:absolute;
  left:166px;
  top:6px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u19708 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19709 {
  position:absolute;
  left:329px;
  top:23px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u19710 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u19711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19711 {
  position:absolute;
  left:505px;
  top:23px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u19712 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u19713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19713 {
  position:absolute;
  left:674px;
  top:23px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u19714 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u19715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19715 {
  position:absolute;
  left:909px;
  top:23px;
  width:185px;
  height:28px;
  color:#FFFFFF;
}
#u19716 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
