body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-family:'Webdings Bold', 'Webdings Regular', 'Webdings';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2222 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2225 {
  position:absolute;
  left:888px;
  top:874px;
  width:1031px;
  height:206px;
  overflow:hidden;
}
#u2225_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2225_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2228 {
  position:absolute;
  left:2px;
  top:95px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u2230 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2230_img.mouseOver {
}
#u2230.mouseOver {
  opacity:0.6;
}
#u2231 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2232 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2233 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:100px;
}
#u2235 {
  position:absolute;
  left:723px;
  top:74px;
  width:113px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2235_img.mouseOver {
}
#u2235.mouseOver {
  opacity:0.6;
}
#u2236 {
  position:absolute;
  left:2px;
  top:42px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2237 {
  position:absolute;
  left:730px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2238 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u2240 {
  position:absolute;
  left:885px;
  top:74px;
  width:102px;
  height:102px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2240_img.mouseOver {
}
#u2240.mouseOver {
  opacity:0.6;
}
#u2241 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2242 {
  position:absolute;
  left:886px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2245 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2245_img.mouseOver {
}
#u2245.mouseOver {
  opacity:0.6;
}
#u2246 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2247 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2248 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2250 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2250_img.mouseOver {
}
#u2250.mouseOver {
  opacity:0.6;
}
#u2251 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u2252 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u2255 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2256 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u2257 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2257_img.mouseOver {
}
#u2257.mouseOver {
  opacity:0.6;
}
#u2258 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u2259 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2259_img.mouseOver {
}
#u2259.mouseOver {
  opacity:0.6;
}
#u2260 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u2261 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u2261_img.mouseOver {
}
#u2261.mouseOver {
  opacity:0.6;
}
#u2262 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2265 {
  position:absolute;
  left:2px;
  top:42px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2268 {
  position:absolute;
  left:116px;
  top:11px;
  width:35px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u2268_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2268_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u2269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2270 {
  position:absolute;
  left:116px;
  top:11px;
  width:763px;
  height:78px;
}
#u2270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:78px;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u2271 {
  position:absolute;
  left:16px;
  top:11px;
  width:78px;
  height:78px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2272 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273 {
  position:absolute;
  left:790px;
  top:7px;
  width:89px;
  height:89px;
  overflow:hidden;
  visibility:hidden;
}
#u2273_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2273_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2274 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u2275 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  word-wrap:break-word;
}
#u2276 {
  position:absolute;
  left:68px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2277 {
  position:absolute;
  left:16px;
  top:63px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2278 {
  position:absolute;
  left:42px;
  top:37px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2279 {
  position:absolute;
  left:68px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2280 {
  position:absolute;
  left:16px;
  top:11px;
  width:26px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 173, 173, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2281 {
  position:absolute;
  left:0px;
  top:99px;
  width:57px;
  height:49px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
