body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u11957 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11958 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11959 {
  position:absolute;
  left:888px;
  top:874px;
  width:1031px;
  height:206px;
  overflow:hidden;
}
#u11959_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11959_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
}
#u11961 {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:206px;
  color:#FFFFFF;
}
#u11962 {
  position:absolute;
  left:2px;
  top:95px;
  width:1027px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u11964 {
  position:absolute;
  left:403px;
  top:75px;
  width:128px;
  height:100px;
  color:#FFFFFF;
}
#u11964_img.mouseOver {
}
#u11964.mouseOver {
  opacity:0.6;
}
#u11965 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u11966 {
  position:absolute;
  left:407px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u11967 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u11968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:100px;
}
#u11969 {
  position:absolute;
  left:723px;
  top:74px;
  width:113px;
  height:100px;
  color:#FFFFFF;
}
#u11969_img.mouseOver {
}
#u11969.mouseOver {
  opacity:0.6;
}
#u11970 {
  position:absolute;
  left:2px;
  top:42px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u11971 {
  position:absolute;
  left:730px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u11972 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:102px;
}
#u11974 {
  position:absolute;
  left:885px;
  top:74px;
  width:102px;
  height:102px;
  color:#FFFFFF;
}
#u11974_img.mouseOver {
}
#u11974.mouseOver {
  opacity:0.6;
}
#u11975 {
  position:absolute;
  left:2px;
  top:43px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u11976 {
  position:absolute;
  left:886px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u11977 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11979 {
  position:absolute;
  left:569px;
  top:74px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u11979_img.mouseOver {
}
#u11979.mouseOver {
  opacity:0.6;
}
#u11980 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u11981 {
  position:absolute;
  left:576px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u11982 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u11983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11984 {
  position:absolute;
  left:263px;
  top:74px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u11984_img.mouseOver {
}
#u11984.mouseOver {
  opacity:0.6;
}
#u11985 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
}
#u11986 {
  position:absolute;
  left:251px;
  top:175px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u11987 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u11988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u11988 {
  position:absolute;
  left:200px;
  top:150px;
  width:1280px;
  height:720px;
}
#u11989 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11991 {
  position:absolute;
  left:528px;
  top:349px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u11992 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11991_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u11993 {
  position:absolute;
  left:599px;
  top:349px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u11994 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11993_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u11995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u11995 {
  position:absolute;
  left:438px;
  top:349px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u11996 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u11997 {
  position:absolute;
  left:665px;
  top:349px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u11998 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11997_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u11999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u12000 {
  position:absolute;
  left:438px;
  top:536px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12001 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12002 {
  position:absolute;
  left:528px;
  top:534px;
  width:210px;
  height:37px;
}
#u12002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#333333;
}
#u12002_input:disabled {
  color:grayText;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u12004 {
  position:absolute;
  left:438px;
  top:440px;
  width:90px;
  height:34px;
  font-family:'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12006 {
  position:absolute;
  left:678px;
  top:438px;
  width:60px;
  height:39px;
}
#u12006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
}
#u12006_input:disabled {
  color:grayText;
}
#u12007 {
  position:absolute;
  left:618px;
  top:438px;
  width:60px;
  height:39px;
}
#u12007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
}
#u12007_input:disabled {
  color:grayText;
}
#u12008 {
  position:absolute;
  left:528px;
  top:438px;
  width:90px;
  height:39px;
}
#u12008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:39px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
}
#u12008_input:disabled {
  color:grayText;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12010 {
  position:absolute;
  left:528px;
  top:260px;
  width:210px;
  height:33px;
}
#u12010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u12011 {
  position:absolute;
  left:438px;
  top:260px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12012 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12014 {
  position:absolute;
  left:522px;
  top:627px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u12015 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u12014_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u12016 {
  position:absolute;
  left:595px;
  top:627px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u12017 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u12016_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u12018 {
  position:absolute;
  left:438px;
  top:627px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12019 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12020 {
  position:absolute;
  left:668px;
  top:627px;
  width:80px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u12021 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u12020_input {
  position:absolute;
  left:-3px;
  top:6px;
}
#u12022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u12023 {
  position:absolute;
  left:438px;
  top:718px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12024 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u12025 {
  position:absolute;
  left:528px;
  top:716px;
  width:210px;
  height:37px;
}
#u12025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:37px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#333333;
}
#u12025_input:disabled {
  color:grayText;
}
#u12026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12027 {
  position:absolute;
  left:1024px;
  top:260px;
  width:210px;
  height:33px;
}
#u12027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u12028 {
  position:absolute;
  left:874px;
  top:260px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12029 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12031 {
  position:absolute;
  left:1024px;
  top:352px;
  width:210px;
  height:33px;
}
#u12031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u12032 {
  position:absolute;
  left:874px;
  top:352px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12033 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12035 {
  position:absolute;
  left:1024px;
  top:443px;
  width:210px;
  height:33px;
}
#u12035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u12036 {
  position:absolute;
  left:874px;
  top:443px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12039 {
  position:absolute;
  left:1024px;
  top:535px;
  width:210px;
  height:33px;
}
#u12039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u12040 {
  position:absolute;
  left:874px;
  top:535px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12043 {
  position:absolute;
  left:1024px;
  top:626px;
  width:210px;
  height:33px;
}
#u12043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u12044 {
  position:absolute;
  left:874px;
  top:626px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12047 {
  position:absolute;
  left:1024px;
  top:718px;
  width:210px;
  height:33px;
}
#u12047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u12048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u12048 {
  position:absolute;
  left:874px;
  top:718px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12049 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:211px;
}
#u12052 {
  position:absolute;
  left:0px;
  top:869px;
  width:534px;
  height:211px;
}
#u12053 {
  position:absolute;
  left:2px;
  top:98px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u12054 {
  position:absolute;
  left:66px;
  top:925px;
  width:97px;
  height:100px;
}
#u12054_img.mouseOver {
}
#u12054.mouseOver {
  opacity:0.6;
}
#u12055 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u12056 {
  position:absolute;
  left:363px;
  top:925px;
  width:97px;
  height:100px;
}
#u12056_img.mouseOver {
}
#u12056.mouseOver {
  opacity:0.6;
}
#u12057 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:100px;
}
#u12058 {
  position:absolute;
  left:219px;
  top:925px;
  width:97px;
  height:100px;
}
#u12058_img.mouseOver {
}
#u12058.mouseOver {
  opacity:0.6;
}
#u12059 {
  position:absolute;
  left:2px;
  top:42px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:45px;
}
#u12061 {
  position:absolute;
  left:39px;
  top:34px;
  width:1000px;
  height:45px;
}
#u12062 {
  position:absolute;
  left:2px;
  top:14px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12065 {
  position:absolute;
  left:91px;
  top:39px;
  width:40px;
  height:16px;
  overflow:hidden;
  visibility:hidden;
}
#u12065_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12066 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
}
#u12066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12067 {
  position:absolute;
  left:91px;
  top:39px;
  width:855px;
  height:35px;
}
#u12067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12068 {
  position:absolute;
  left:46px;
  top:39px;
  width:35px;
  height:35px;
}
#u12069 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12070 {
  position:absolute;
  left:994px;
  top:37px;
  width:40px;
  height:40px;
  overflow:hidden;
  visibility:hidden;
}
#u12070_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12070_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12071 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'Arial-Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u12072 {
  position:absolute;
  left:0px;
  top:-8px;
  width:40px;
  word-wrap:break-word;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u12073 {
  position:absolute;
  left:1792px;
  top:0px;
  width:128px;
  height:128px;
  color:#FFFFFF;
}
#u12074 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
