body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u19809 {
  position:absolute;
  left:295px;
  top:0px;
  width:300px;
  height:80px;
}
#u19810 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u19811 {
  position:absolute;
  left:295px;
  top:90px;
  width:300px;
  height:80px;
}
#u19812 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
