body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u7119 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u7120 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7121 {
  position:absolute;
  left:1217px;
  top:874px;
  width:703px;
  height:206px;
  overflow:hidden;
}
#u7121_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:206px;
}
#u7124 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:206px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7125 {
  position:absolute;
  left:2px;
  top:95px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7127 {
  position:absolute;
  left:212px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7127_img.mouseOver {
}
#u7127.mouseOver {
  opacity:0.6;
}
#u7128 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u7129 {
  position:absolute;
  left:200px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u7131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:100px;
}
#u7132 {
  position:absolute;
  left:352px;
  top:74px;
  width:128px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7132_img.mouseOver {
}
#u7132.mouseOver {
  opacity:0.6;
}
#u7133 {
  position:absolute;
  left:2px;
  top:42px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u7134 {
  position:absolute;
  left:356px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7135 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u7136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7137 {
  position:absolute;
  left:518px;
  top:74px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7137_img.mouseOver {
}
#u7137.mouseOver {
  opacity:0.6;
}
#u7138 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u7139 {
  position:absolute;
  left:525px;
  top:175px;
  width:100px;
  height:24px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u7140 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u7141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7142 {
  position:absolute;
  left:910px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7143 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7144 {
  position:absolute;
  left:810px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7145 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7146 {
  position:absolute;
  left:1010px;
  top:980px;
  width:100px;
  height:100px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7147 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:60px;
}
#u7148 {
  position:absolute;
  left:1844px;
  top:0px;
  width:76px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7149 {
  position:absolute;
  left:2px;
  top:22px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7150 {
  position:absolute;
  left:1784px;
  top:0px;
  width:60px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u7151 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
